<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eatory.mvc.model.dao.DietRecordDao">

    <select id="findByUserId" parameterType="long" resultType="DietRecord">
        SELECT 
            record_id AS recordId,
            user_id AS userId,
            record_date AS recordDate,
            meal_type AS mealType,
            notes,
            menus
        FROM DietRecord
        WHERE user_id = #{userId};
    </select>

    <select id="findById" parameterType="long" resultType="DietRecord">
        SELECT 
            record_id AS recordId,
            user_id AS userId,
            record_date AS recordDate,
            meal_type AS mealType,
            notes,
            menus
        FROM DietRecord
        WHERE record_id = #{recordId};
    </select>

    <insert id="insert" parameterType="DietRecord" keyProperty="recordId" useGeneratedKeys="true">
        INSERT INTO DietRecord (user_id, record_date, meal_type, notes, menus)
        VALUES (#{userId}, #{recordDate}, #{mealType}, #{notes}, CAST(#{menus} AS JSON));
    </insert>

    <update id="update" parameterType="DietRecord">
        UPDATE DietRecord
        SET 
            record_date = #{recordDate},
            meal_type = #{mealType},
            notes = #{notes},
            menus = CAST(#{menus} AS JSON)
        WHERE record_id = #{recordId};
    </update>

    <delete id="delete" parameterType="long">
        DELETE FROM DietRecord WHERE record_id = #{recordId};
    </delete>
</mapper>
