<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eatory.mvc.model.dao.FoodDao">

    <!-- Record ID로 음식 조회 -->
    <select id="findByRecordId" parameterType="long" resultType="Food">
        SELECT * FROM Food WHERE record_id = #{recordId};
    </select>

    <!-- Food ID로 특정 음식 조회 -->
    <select id="findById" parameterType="long" resultType="Food">
        SELECT * FROM Food WHERE food_id = #{foodId};
    </select>

    <!-- 음식 데이터 삽입 -->
    <insert id="insert" parameterType="Food" keyProperty="foodId" useGeneratedKeys="true">
        INSERT INTO Food (record_id, food_name, calories, fat, protein, carbohydrates, sugar, cholesterol, sodium)
        VALUES (#{recordId}, #{foodName}, #{calories}, #{fat}, #{protein}, #{carbohydrates}, #{sugar}, #{cholesterol}, #{sodium});
    </insert>

    <!-- 음식 데이터 업데이트 -->
    <update id="update" parameterType="Food">
        UPDATE Food
        SET food_name = #{foodName}, calories = #{calories}, fat = #{fat}, protein = #{protein},
            carbohydrates = #{carbohydrates}, sugar = #{sugar}, cholesterol = #{cholesterol}, sodium = #{sodium}
        WHERE food_id = #{foodId};
    </update>

    <!-- 음식 데이터 삭제 -->
    <delete id="delete" parameterType="long">
        DELETE FROM Food WHERE food_id = #{foodId};
    </delete>
</mapper>
