<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eatory.app.model.dao.UserDao">
	
	<!-- 회원목록 가져오기 -->
	<select id="selectAll" resultType="User">
		SELECT u.id id, u.password password, u.name name, c.name curriculumName 
		FROM users u, curriculum c
		WHERE u.curriculum_code = c.code 
	</select>
	
	<!-- 회원가입(회원등록) -->
	<insert id="insertUser" parameterType="User" useGeneratedKeys="true" keyProperty="userId" >
		INSERT INTO users (username, password, email, height, weight, gender, birth_date, profile_image, phone_number)
		VALUES (#{username}, #{password},#{email},#{height},#{weight},#{gender},#{birth_date},#{profile_image},#{phone_number})
	</insert>
	
	
	<!-- 로그인 -->
	<select id="selectOne" parameterType="Map" resultType="User">
		SELECT user_id, username
		FROM users
		WHERE id = #{id} AND password = #{password}
	</select>
	
	
	
	
	
	
</mapper>